<br>
<div class="row">
  <div class="col-xs-10 col-xs-offset-1 text-center"><img class="img-responsive" src="/images/donuts.jpg"></div>
</div>
<br>
<br>
<br>
<div class="row">
  <div class="col-xs-2 col-xs-offset-3 text-center">
    <div class="text-center"><h3>CUSTOMIZE</h3></div>
    <a href="/donuts/new"><img class="img-responsive donuts" src="/images/customize.jpg"></a>
  </div>
  <div class="col-xs-2 col-xs-offset-2 text-center">
    <div class="text-center"><h3>PLACE AN ORDER</h3></div>
    <a href="/orders/new"><img class="img-responsive donuts" src="/images/order.jpg"></a>
  </div>
</div>
